body {
  background: #002b36 !important;
  color: #eee8d5 !important;
  white-space: pre;
  font-family: monospace;
}

a {
  color: #ff73fd !important;
}

a:hover {
  color: #ff73fd !important;
}

.property {
  color: #268bd2 !important;
  font-weight: bold;
}

.type-null {
  color: #cfcb90 !important;
}

.type-boolean {
  color: #cfcb90 !important;
}

.type-number {
  color: #ff73fd !important;
}

.type-string {
  color: #db3380 !important;
}

.callback-function {
  color: #fff !important;
}

.collapser:after {
  color: #e9c062 !important;
  content: "-";
}

.collapsed > .collapser:after {
  color: #e9c062 !important;
  content: "+";
}

.ellipsis:after {
  color: #e9c062 !important;
  content: " … ";
}

.collapsible {
  margin-left: 2em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: #eee8d5;
  color: #002b36;
}

.collapser {
  padding-right: 10px;
  padding-left: 6px;
}
